<h1>All Users</h1><br>
  <% @user.each do |user| %>
  <div class="card-box">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header"><a href="/users/<%=user.id%>"> User n°<%=user.id%></a></div>
      <div class="card-body">
        <h5 class="card-title"><%= user.firstname  %> <%= user.lastname %></h5>
        <p class="card-text"><%= user.email %></p>
      </div>
    </div>
  </div>
  <% end %>
