<h1> Create an account</h1>
<div class='formulix' style='width: 20%; margin-left: 30px; margin-top: 30px;'>
  <%= form_for @user do |f| %>
  <%= label_tag 'Firstname :' %>
  <%= f.text_field :firstname, placeholder: "Your firstname..", class: "form-control", id: "formGroupExampleInput2" %>
  <br><br>
  <%= label_tag 'Lastname :' %>
  <%= f.text_field :lastname, placeholder: "Your lastname..", class: "form-control", id: "formGroupExampleInput2" %>
  <br><br>
  <%= label_tag 'Email adress :' %>
  <%= f.text_field :email, placeholder: "Your email...", class: "form-control", id: "formGroupExampleInput2" %>
  <br><br>
  <%= label_tag 'Password :' %>
  <%= f.text_field :password, placeholder: "Your password...", class: "form-control", type: "password", id: "formGroupExampleInput2" %>
  <br><br>
  <%= f.submit "Create an account", class: "btn btn-success"  %>
<% end %>
